<form name="userRegister">
  <mat-card>
    <mat-card-title>
      Register
    </mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="UserId" [value]="" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="First Name" value="" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" value="" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" value="" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Repeat password" value="" required>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent">Register</button>
      <button mat-raised-button color="primary">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
